<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to "index" class="navbar-brand"}} BookwithMe {{/link-to}}
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 bwm-search" type="search" placeholder="Try 'New York'" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">

      {{#link-to "login" class="nav-item nav-link"}} Login {{/link-to}}
      {{#link-to "register" class="nav-item nav-link"}} Register {{/link-to}}
    </div>
  </div>
</nav>
