@import "ember-bootstrap/bootstrap";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html, body, p {
  color: $main-text-color-gray;
}

.apartment {
  color: #61b4ba;
}

.condo {
  color: #f34141;
}

.house {
  color: #efe320;
}

.map-container {
  border-radius: 5px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  background-color: grey;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.btn-bwm {
  background-color: $main-color;
  border-color: $main-color;
  padding: 15px 30px;
  font-size: 20px;

  &:hover, &:focus {
    border-color: $main-color;
    background-color: $main-color;
  }
}
