<section id="rentalListing">
  {{#if errors}}
     <h1 class="title">{{errors.firstObject.detail}}</h1>
  {{else}}
    <h1 class="title">Your Home in {{model.firstObject.city}}</h1>
    {{rental-list rentals=model}}
  {{/if}}
</section>
